
<!-- Tutorial URL: http://sixrevisions.com/css/responsive-background-image/ -->

<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Práctica 1 - AW<</title>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<div class="cabecera">
	  	<div class="cabecera">
	  		<img src="images/img_cabecera/mineros-juego.jpg" alt="Imagen Cabecera" id="img_cabecera">
	  	</div>
	</div>
	<div class="menu">
		<div class="menu_iz">
			<ul>
				<li id="li_inicial">
					Seleccione una opción ►
				</li>
				<li>
					<a href="#">Login</a>
				</li>
				<li>
					<a href="./nuevo_usuario.html">Nuevo usuario</a>
				</li>
			</ul>
	  	</div>
	  	<div class="menu_dr">
	  		<div class="caja_login">
                        <%
                        if (!llave){%>
                                <div class="img_unlogin">
                                        <img src="./images/icon_login/padlock_unlogin.png">
                                </div>
                        <%
                        }
                        else{%>
                                <div class="img_login">
                                        <img src="/usuarios/imagen/<%= nick %>">
                                </div>
                        <%}
                        %>
                        <div class="texto_login">
                                <p>
                                        <%= nick %>
                        </p>
                        </div>
            </div>
	  	</div>
	</div>
	<div class="contenido">
		<div class="panel">
			<div class="panel_contenido">
				<h1>
					Ingreso en el sistema
				</h1>
				<hr /><br>
				<form action="./comprobar_login.html" method="POST">
					<div class="tabla">
						<div class="new_line">
							<div class="text_formulario_usuario">
								<h3>
									Nombre de usuario:
								</h3>
							</div>
							<div class="inputs_formulario_usuario">
								<input type="text" name="usuario" value="" placeholder="" autofocus required/>
							</div>
						</div>
						<div class="new_line">
							<div class="text_formulario_password">
								<h3>
									Contraseña:
								</h3>
							</div>
							<div class="inputs_formulario_password">
								<input type="password" name="password" value="" placeholder="" required />
							</div>
						</div>
					</div>
					<div class="panel_botones_reg">
						<a href="../index.html" class="inputs_formulario_reg">Volver a página principal</a>
						<input class="inputs_formulario_reg" type="submit" value="Identificarse"/>
					</div>
				</form>
				<br><hr /><br>
				<p class="mensaje_error"><%= mensaje %></p>
			</div>
		</div>
	</div>
</body>
</html>